@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-zinc-900 text-white;
    background-color: rgb(39 41 52);
  }
}

/* ========= animation ========= */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated-fade-in {
  animation: fadeIn ease-in-out 0.5s;
}
.animated-fade-in-\[0\.25s\] {
  animation: fadeIn ease-in-out 0.25s;
}
.animated-fade-in-\[0\.5s\] {
  animation: fadeIn ease-in-out 0.5s;
}
.animated-fade-in-\[1\.0s\] {
  animation: fadeIn ease-in-out 1.0s;
}
.animated-fade-in-\[1\.5s\] {
  animation: fadeIn ease-in-out 1.5s;
}
.animated-fade-in-\[2\.0s\] {
  animation: fadeIn ease-in-out 2.0s;
}

@keyframes slideInUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animated-slideIn-up {
  animation: slideInUp ease-in-out 0.5s;
}
.animated-slideIn-up-\[0\.5s\] {
  animation: slideInUp ease-in-out 0.5s;
}
.animated-slideIn-up-\[1\.0s\] {
  animation: slideInUp ease-in-out 1.0s;
}
.animated-slideIn-up-\[1\.5s\] {
  animation: slideInUp ease-in-out 1.5s;
}
.animated-slideIn-up-\[2\.0s\] {
  animation: slideInUp ease-in-out 2.0s;
}

@keyframes slideInDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.animated-slideIn-down {
  animation: slideInDown ease-in-out 0.5s;
}
.animated-slideIn-down-\[0\.5s\] {
  animation: slideInDown ease-in-out 0.5s;
}
.animated-slideIn-down-\[1\.0s\] {
  animation: slideInDown ease-in-out 1.0s;
}
.animated-slideIn-down-\[1\.5s\] {
  animation: slideInDown ease-in-out 1.5s;
}
.animated-slideIn-down-\[2\.0s\] {
  animation: slideInDown ease-in-out 2.0s;
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}
.animated-slideOut-up-\[opacity-0\] {
  animation: slideOutUp ease-in-out 0.5s;
}
.animated-slideOut-up {
  animation: slideOutUp ease-in-out 0.5s;
}
.animated-slideOut-up-\[0\.5s\] {
  animation: slideOutUp ease-in-out 0.5s;
}
.animated-slideOut-up-\[1\.0s\] {
  animation: slideOutUp ease-in-out 1.0s;
}
.animated-slideOut-up-\[1\.5s\] {
  animation: slideOutUp ease-in-out 1.5s;
}
.animated-slideOut-up-\[2\.0s\] {
  animation: slideOutUp ease-in-out 2.0s;
}

/* checkbox css */
/* Hide the default checkbox */
.checkbox_blue_ani_hAa13 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox_blue_ani_hAa13 {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkbox_blue_ani_hAa13_checkmark {
  --clr: #0B6E4F;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.checkbox_blue_ani_hAa13 input:checked ~ .checkbox_blue_ani_hAa13_checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkbox_blue_ani_hAa13_checkmark/indicator (hidden when not checked) */
.checkbox_blue_ani_hAa13_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkbox_blue_ani_hAa13_checkmark when checked */
.checkbox_blue_ani_hAa13 input:checked ~ .checkbox_blue_ani_hAa13_checkmark:after {
  display: block;
}

/* Style the checkbox_blue_ani_hAa13_checkmark/indicator */
.checkbox_blue_ani_hAa13 .checkbox_blue_ani_hAa13_checkmark:after {
  left: 0.55em;
  top: 0.35em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0B6E4F60;
  }

  100% {
    box-shadow: 0 0 0 13px #0B6E4F30;
    rotate: 0;
  }
}

.button_blue_hover_particle {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0077ff;
  transition: all 0.2s ease;
}

.button_blue_hover_particle:active {
  transform: scale(0.96);
}

.button_blue_hover_particle:before,
.button_blue_hover_particle:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button_blue_hover_particle:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #0077ff 20%, transparent 30%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button_blue_hover_particle:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* アラートcss */
/* https://codepen.io/alvarotrigo/pen/NWzKoOV */
main {
  padding: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 512px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
}

.alert-1-primary {
  background-color: rgba(77, 77, 255, 0.05);
}
.alert-1-primary .alert-title {
  color: #4d4dff;
}

.alert-1-warning {
  background-color: rgba(255, 186, 0, 0.05);
}
.alert-1-warning .alert-title {
  color: #ffba00;
}

.alert-2-success {
  border-left: 4px solid #2ec946;
  background-color: rgba(46, 201, 70, 0.05);
}
.alert-2-success .alert-title {
  color: #2ec946;
}

.alert-2-secondary {
  border-left: 4px solid #666666;
  background-color: rgba(102, 102, 102, 0.05);
}
.alert-2-secondary .alert-title {
  color: #666666;
}

.alert-3-primary {
  border: 1px solid #cdcdff;
  border-radius: 8px;
  background-color: rgba(77, 77, 255, 0.05);
}
.alert-3-primary .alert-title {
  color: #4d4dff;
}

.alert-3-danger {
  border: 1px solid #ffb8b8;
  border-radius: 8px;
  background-color: rgba(255, 56, 56, 0.05);
}
.alert-3-danger .alert-title {
  color: #ff3838;
}

.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

/* button css */

.button_border_1 {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background: none;
  color: #ffffff;
  border: solid 1px;
  border-color: var(--foreground);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  backdrop-filter: blur(10px);
  transition: all 0.6s ease;
}

.button_border_1:hover {
  background: #ffffff21;
  color: #ffffff;
  border-color: #8f8f8f;
}

.button_border_1:focus,
.button_border_1:active {
  opacity: 0.85;
  box-shadow: none;
}

.button_blue_1 {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

.button_blue_1:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.button_blue_1:focus,
.button_blue_1:active {
  opacity: 0.85;
  box-shadow: none;
}